h1 { 
    color: red; 
}
img { 
    width: 400px;
    height: 250px;
}
#thirdDiv {
    width: 600px; 
    height: 500px; 
    background-color: green;
    border: 2px solid #000;
    padding: 50px;
    margin: 50px;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}

.divClass{
    background: gray;
}